@font-face {
    font-family: "IBMVGA";
    src: url("./IBMVGA.ttf") format("truetype");
}

html {
}

body {

    background-color: black;
    height: 100%;
    width: auto;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.main {

    height: 100%;
    width: auto;
}

.texts {

    font-family: IBMVGA;
    color: white;
}

.text-title {

    font-size: 30px;
}

.top-images {

    margin-top: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    display: flex;
    justify-content: center;

}

.image {

    width: auto;
    height:400px;
    padding-left: 20px;
    padding-right: 20px;
}

.linebreak {

    width: 100%;
    height: 4px;
    margin-bottom: 20px;
}

.post {

    line-height: 2;
}

.post-title {

    padding-top: 10px;
    padding-left: 25px;
    font-size: 20px;
    text-decoration: underline;
}

.link {

    font-family: IBMVGA;
    color: white;
    text-decoration: none;
}

.link:hover {

    text-decoration: underline;
}
