@font-face {
    font-family: "Terminal";
    src: url("./Terminal.ttf") format("truetype");
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-image: url("../media/bluematrix.gif");
    background-size: 100vw 100vh;
    overflow: hidden;
}

.texts {
    font-family: Terminal;
    color: green;
    font-size: 18px;
}

.links {

    text-decoration: none;
}

.links:hover {

    text-decoration: underline;
}

.main {

    position: absolute;
    top: 50px;
    left: 280px;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 10px;

    padding: 5px;

    border-style: solid;
    border-width: 2px;
    border-color: blue;

    background-color: black;
}

.navpane {

    position: absolute;
    width: 250px;
    min-height: 300px;
    top: 0;
    bottom: 0;
    margin-top: 50px;
    margin-bottom: 10px;
    overflow: hidden;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
}

.navlist {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    opacity: 1;
}

.main-display {

    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    margin-bottom: 15px;
    width: 100%;
    height: 100%;

    border: none;
    overflow: hidden;
}

.banner {

    left: 0;
    top: 0;
    right: 0;

    padding-left: 10px;

    width: 100%;
    height: 35px;

    overflow: hidden;

}

.banner-text {

    font-family: Terminal;
    color: white;
    font-size: 33px;
}

.linebreak {

    width: 100%;
}
